@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    /* transition: 0.5s; */

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

body.dark-mode::-webkit-scrollbar {
    width: 6px; 
}

body.dark-mode::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

body.dark-mode::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px; 
}

body.dark-mode::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}


html {
    /* height: 500vw; */
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

body.dark-mode {
    background-color: rgb(26, 26, 26);
    color: aliceblue;
}

body.dark-mode a {
    color: rgb(119, 167, 209);
}

#auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e9f7;
    width: 100%;
}

body.dark-mode #auth_container {
    background-color: rgb(26, 26, 26);
}

#login_form,
#register_form {
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

body.dark-mode #login_form,
body.dark-mode #register_form {
    background-color: #333;
    color: white;
    border-color: #666;
}

#login_form h2,
#register_form h2 {
    margin-bottom: 20px;
}

#login_form label,
#register_form label {
    display: block;
    margin-bottom: 8px;
}

#login_form input,
#register_form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login_form button,
#register_form button {
    width: 100%;
    padding: 10px;
    background-color: #4f46e5;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode #login_form button,
body.dark-mode #register_form button {
    background-color: #0a065e;
}

#login_form button:hover,
#register_form button:hover {
    background-color: #3b3b9a;
}

body.dark-mode #login_form button:hover,
body.dark-mode #register_form button:hover {
    background-color: #070343;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid black;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

body.dark-mode #sidebar {
    background-color: rgb(10, 10, 10);
    border: 1px solid aliceblue;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
}

body.dark-mode #user_avatar {
    border: 1px solid aliceblue;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

body.dark-mode .side-item a {
    color: aliceblue;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

body.dark-mode .side-item.active {
    background-color: #070343;
}

body.dark-mode .side-item:hover:not(.active),
body.dark-mode #logout_btn:hover {
    background-color: #3b3b9a3f;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: aliceblue;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

body.dark-mode #logout_btn {
    color: aliceblue;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

body.dark-mode #open_btn {
    background-color: rgb(91, 172, 243);
    color: #070343;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
    max-width: 90%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* Info */

.info {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 82px);
}

.atribut {
    list-style-type: none;
    padding: 10px;
    margin: 0 0;
}

/* Armas */

#detalhesArma {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: none;
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
}

.arma-header {
    text-align: center;
}

.arma-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.arma-imagem {
    max-width: 150px;
    margin-right: 20px;
}

.arma-descricao {
    flex: 1;
}

.arma-stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.arma-dano,
.arma-tipo,
.arma-mana,
.tipo-dano,
.dado-critico,
.alcance,
.atk-adicional,
.valor,
.dano-atributo {
    margin-top: 5px;
}

@media (max-width: 650px) {
    .arma-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .arma-imagem {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
        margin: 20px auto;
    }
}

@media (max-height: 550px) {
    #sidebar {
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #open_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
}